fieldset{
    color: #ffcc00;
}
body{
    background-image: url(../images/background-rating.jpg);
}
.button1{
    background-color: #f44336;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 20px;
}
.button1:hover {
    background-color: #f4433665;
}
.button2{
    background-color: #04AA6D;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 20px;
}
.button2:hover{
    background-color: #04aa6d63;
}
.acceuil{
    background-color: #007BFF;
    padding: 14px 40px;
    border-radius: 8px;
    color: #4b0082;
    font-size: 20px;
}
.acceuil:hover{
    background-color: #007bff83;
}
.thnx{
    font-size: 40px;
    color: azure;
   
}
header {
    background-color: #4b0082;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 40px;
}
footer {
    text-align: center;
    background-color: #333;
    color: #ccc;
    padding: 10px 0;
    margin-top: 20px;
}